作業目標<br>
計算有缺失值的資料，統計量實作<br>
作業重點<br>
當遇到缺失值有函式可以處理，不須額外寫程式刪除<br>
計算統計量時不能出現缺失值

題目:<br>
english_score = np.array([55,89,76,65,48,70])<br>
math_score = np.array([60,85,60,68,np.nan,60])<br>
chinese_score = np.array([65,90,82,72,66,77])<br>
上3列共六位同學的英文、數學、國文成績，第一個元素代表第一位同學，舉例第一位同學英文55分、數學60分、國文65分，今天第五位同學因某原因沒來考試，導致數學成績缺值，運用上列數據回答下列問題。<br>
1. 請計算各科成績平均、最大值、最小值、標準差，其中數學缺一筆資料可忽略?
2. 第五位同學補考數學後成績為55，請計算補考後數學成績平均、最大值、最小值、標準差?
3. 用補考後資料找出與國文成績相關係數最高的學科?

In [1]:
import numpy as np

In [2]:
english_score = np.array([55,89,76,65,48,70])
math_score = np.array([60,85,60,68,np.nan,60])
chinese_score = np.array([65,90,82,72,66,77])

In [26]:
#1. 請計算各科成績平均、最大值、最小值、標準差，其中數學缺一筆資料可忽略?
import pandas as pd
x = pd.DataFrame([english_score,math_score,chinese_score],index=['English','math','chinese']).T
x.describe().drop(['count','25%','50%','75%'])

        English       math    chinese
mean  67.166667  66.600000  75.333333
std   14.716204  10.853571   9.667816
min   48.000000  60.000000  65.000000
max   89.000000  85.000000  90.000000

In [28]:
#2. 第五位同學補考數學後成績為55，請計算補考後數學成績平均、最大值、最小值、標準差?
x.loc[x.math.isna(),'math']=55
x.math.describe().drop(['count','25%','50%','75%'])

   English  math  chinese
0     55.0  60.0     65.0
1     89.0  85.0     90.0
2     76.0  60.0     82.0
3     65.0  68.0     72.0
4     48.0  55.0     66.0
5     70.0  60.0     77.0

In [37]:
#3. 用補考後資料找出與國文成績相關係數最高的學科?
y = x.corr()
y.loc[y.chinese==y.loc['chinese',['English','math']].max(),'chinese']

English    0.977928
Name: chinese, dtype: float64